@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  background-color: white;
}
ul {
  list-style: none;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}
p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  /* letter-spacing: 0.15em; */
  margin-left: 10px;
}
h1,
h2,
h3 {
  margin-bottom: 0.5em;
  /* letter-spacing: 0.15em; */
  font-weight: 500;
}

/*-------------------*/
body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}
.bigger-section {
  height: 700px;
  padding-top: 1%;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 5px; */
  /* background-color: #263238; */
}
label {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10pxpx;
}
.input1 {
  width: 100%;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.input2 {
  padding-top: 10px;
  padding-bottom: 16px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: #263238;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(143, 140, 140);
}
.Forgot {
  display: flex;
  justify-content: right;
}
.form {
  background-color: white;
  width: 500px;
  height: 800px;
  border-radius: 3%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin: 20px;

  /* align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;  */
}
/*=====================================*/
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
}
.bg-dark {
  background-color: #263238;
}
.text-light {
  color: #f4f4f4;
  text-transform: uppercase;
}
.heading {
  font-size: 3.5rem;
}
.md-heading {
  font-size: 2.5rem;
}

.navbar {
  padding: 1rem;
}

.navbar .logo {
  float: left;
  font-size: 3.5em;
}
.navbar .nav-items {
  margin-top: 1rem;
  float: right;
}
.navbar .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}
.navbar::after {
  content: " ";
  display: block;
  clear: both;
}
.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}
.navbar a {
  padding-bottom: 0.3rem;
}
.navbar a:hover {
  border-bottom: 1px solid white;
}
/*-------------------hedaer content--------------*/
/* .header_content{
   
    position: relative;
    top:10%;
    left:50%;
    text-align: top;
    margin-top: 10%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
   } */
.nav-items-categaries {
  display: inline;
}

.header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header-content p {
  text-transform: uppercase;
}
.bg-dark {
  background-color: #263238;
}
footer {
  text-align: center;
  background-color: #263238;
  color: white;
  padding: 2rem;
}
.socialmedialinks i {
  margin: 2rem;
}
.signup {
  background-color: white;
  width: 350px;
  height: 600px;
  /* border-radius: 7%; */
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin: 20px;
  box-shadow: 0px 0px 20px rgb(175, 172, 172);
}
.Login {
  /* background-color: #263238; */
  width: 350px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(175, 172, 172);
  /* border: 2px solid #263238; */
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin: 20px;
}
.Login .input1 {
  font-size: 15px;
  padding: 7px;
}

/*-================================Profile section====================*/
.profile {
  margin: 2% 0% 0% 7%;
  width: 86%;
  padding: 2% 5% 2% 5%;
  background-color: rgb(214, 210, 210);
  color: black;
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
}

.profile1 {
  width: 135px;
  height: 180px;
  position: relative;
  border-radius: 5px;
}

.updatePhoto {
  width: 100%;
  padding: 4% 6%;
  z-index: 100;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
}

.profile1:hover .updatePhoto {
  visibility: visible;
}

.profile1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  display: block;
  border-radius: 5px;
}

.profile2 button {
  padding: 0.5%;
  color: white;
  cursor: pointer;
}

.profile2 {
  padding-left: 40px;
  width: 80%;
  height: 180px;
  /* background-color: white; */
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.profile2 p {
  font-weight: bold;
}

#updateImage {
  margin: 0 7% 0 7%;
  width: 86%;
  padding: 0 5% 3% 5%;
  background-color: white;
  color: black;
  display: none;
}

.logoutbutton {
  color: white;
  text-decoration: none;
  background-color: #263238;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mypostsection {
  background-color: rgb(214, 210, 210);
  width: 100%;
}
.postsection {
  margin: 3% 5% 5% 7%;
  width: 86%;
  padding: 2% 5% 2% 5%;
  background-color: rgb(214, 210, 210);
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
}
/* .postsection p{
  width: 10%;
  border-radius: 10px;
  padding: 1%;
  font-weight: 400;
  align-items: center;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
.postsectiointimeline
  {
align-items: center;
display: flex;
justify-content: center;
font-size: 20px;
  }
.profileforpost {
  background-color: white;
}
/*============================================*/
.wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  background: rgb(214, 210, 210);
  position: relative;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.search_box .search_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-right: 15px;
  cursor: pointer;
}

.search_box .input_search {
  outline: none;
  border: 0;
  background: white;
  border-radius: 50px;
  padding: 15px 20px;
  width: 465px;
  height: 50px;
  color: black;
}

::placeholder {
  color: black;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

.float-right {
  margin-left: 4%;
  /* width: 400px; */
}
/*==============================================*/
.author {
  height: 100px;
  padding: 10px;
}
.cards {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  /* border: 1px solid rgb(214, 210, 210); */
  /* box-shadow: 0px 0px 20px rgb(175, 172, 172); */
}
.user-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.cards2{
  margin-top: 10px;
  /* margin-left: 10%; */
  /* margin-right: 20%; */
  margin-bottom: 1%;
  margin-right: 1%;
  width: 500px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  padding-left: 1%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(214, 210, 210); */
  box-shadow: 0px 0px 20px rgb(175, 172, 172);
}
.cards2 p{
  margin-left: 25px;
}
.cards2 button{
  margin-left: 20px;
}

.Profilebuttonuser
{
  margin-right: 10px;
  text-decoration: none;
	font-weight: bolder;
	background-color: #263238;
	border-radius: 20px;
	cursor: pointer;
  width: 150px;

}
.Profilebuttonuser a
{
 
	color: white;
  text-decoration: none;


}

/* .whitebutton button a{
  text-decoration: none;
  color: white;
} */

.image-class-of-user img{
  border-radius: 5px;
  width: 80px;
  height: 80px;

}
.image-class-of-user{
  width: 80px;
  height: 80px;
}

.image-container {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
}
.text-contanier {
  padding: 10px;
  height: 150px;
}


/*================================tabs---------------------*/

.friendprofile {
  margin: 3% 5% 0% 7%;
  width: 86%;
  padding: 4% 5% 5% 5%;
  background-color: rgb(214, 210, 210);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* .internalprofile{
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.internalprofile img{
  margin-left: 5px;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
}
.profile2{
  margin-left: 2%;
  display: flex;
  border: 2px solid red;
  width: 50rem;
  flex-direction: column;
  justify-content: center;
} */
.friendprofile2 {
  margin: 3% 5% 0% 7%;
  width: 86%;
  padding: 4% 5% 5% 5%;
  background-color: rgb(214, 210, 210);
  border-radius: 5px;
  display: flex;
   box-shadow: 0px 0px 5px rgb(175, 172, 172);
  flex-direction: row;
  align-items: center;
}
.internalprofile2{
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.internalprofile2 img{
  margin-left: 5px;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
}
.profile2{
  /* margin-left: 2%; */
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  display: flex;
  background-color: white;
  border-radius: 5px;
  /* width: 50rem; */
  flex-direction: column;
  justify-content: center;
}
.friendprofile img {
  width: 200px;
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.tabscontent{
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgb(214, 210, 210);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(175, 172, 172);
    margin-top: 5%;
    height: 1000px;
}
.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  height: 500px;
}
.addpost {
	text-decoration: none;
	font-weight: bolder;
	padding: 7px 11px;
	color: white;
    
	background-color: #263238;
	border-radius: 5px;
	cursor: pointer;
}

.postform1 {
	display: flex;
	justify-content: center;
}


.postform2 p, input {
	font-size: 15px;
    /* padding-left: 20px; */
}
/* .postform2{
  display: inline;
  width: 150px;
} */
.postform2 button {
  width: 100px;
  margin-top: 10px;
	padding: 4px 7px;
	font-size: 14px;
	background-color: #263238;
	color: white;
	border-radius: 5px;
  padding-left: 20px;
	cursor: pointer;
	border: none;
}

#postform3 {
	display: none;
  width: 150px;
}

#postform4 {
	display: none;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .navbar .nav-items,
  .navbar .logo {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .header-content {
    width: 100%;
    font-size: 50%;
    height: auto;
  }
  .row {
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box {
    float: none;
    width: 100%;
    text-align: center;
  }
  .features .box {
    float: none;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .features .box-2 {
    float: none;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .features .box-3 {
    float: none;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .box-wrapper {
    box-shadow: none;
  }
  .about-wrapper {
    float: none;
    width: 100%;
    text-align: center;
  }
  .cta-banner .left,
  .cta-banner .right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .form-wrapper .company {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .form-wrapper .form {
    float: none;
    width: 100%;
    height: auto;
  }
  .profile1 {
    width: 100px;
    height: 100px;
  }
  .profile1 img{
    width: 100px;
    height: 100px;
  }
  .profile2{
    width: 200px;
    height: 100px;
    font-size: 10px;
  }
  .profile2 p{
    width: 200px;
    height: 100px;
    font-size: 10px;
  }
  .profile2 button{
    width: 200px;
    height: 100px;
    font-size: 10px;
  }
  .profile4{
    position: static;
    z-index: 1;
    margin-top: 45px;
    margin-left: 4%;
    margin-right: 30%;
    margin-bottom: 20%;
    width: 400px;
    height: 1000px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(214, 210, 210);
    border: 1px solid rgb(214, 210, 210);

  }
  .float-right{
    margin-left: 1%;
    margin-right: 1%;
   
  }
  .cards{
    margin-left: 1%;
    width: 98%;
    /* margin-right: 1%; */
  }

.profile4{
  margin-left: 2%;
  width: 90%;
  height: 600px;
  margin-right: 1%;

}
}