@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  background-color: white;
}
ul {
  list-style: none;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}
p,
li {
  /* font-size: 1.6rem; */
  margin-bottom: 0.5em;
  /* letter-spacing: 0.1em; */
}
h1,
h2,
h3 {
  margin-bottom: 0.5em;
  /* letter-spacing: 0.1em; */
  font-weight: 500;
}
/*-----------------------utility class---------------*/

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
}

.heading {
  font-size: 3.5rem;
}
.md-heading {
  font-size: 2.5rem;
}
.text-red {
  color: #e63946;
}
.text-light {
  color: #f4f4f4;
  /* text-transform: uppercase; */
}

.text-black {
  color: #333333;
  /* text-transform: uppercase; */
}
.text-grey {
  color: #555555;
}
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.btn-primary:hover {
  background-color: #ddd;
}
.btn-primary {
  background-color: white;
  border-radius: 10em;
}
.btn-secondary:hover {
  background-color: #f3f2f3;
}

/*-----------------------utility class---------------*/

header {
  /* background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.navbar {
  padding: 1rem;
}

.navbar .logo {
  float: left;
  font-size: 3.5em;
}
.navbar .nav-items {
  margin-top: 1rem;
  float: right;
}
.navbar .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}
.navbar::after {
  content: " ";
  display: block;
  clear: both;
}
.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}
.navbar a {
  padding-bottom: 0.3rem;
}
.navbar a:hover {
  border-bottom: 1px solid white;
}
/*-------------------hedaer content--------------*/
/* .header_content{
   
    position: relative;
    top:10%;
    left:50%;
    text-align: top;
    margin-top: 10%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
   } */
.categaries {
  justify-content: center;
  display: flex;
  background-color: rgb(214, 210, 210);
  justify-content: center;
  align-items: center;
}

.categaries marquee{
  /* width: 200px; */
  /* height: 50px; */
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;

}


.header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header-content p {
  text-transform: uppercase;
}
/* -------------------showcase sectioin-------- */

.bg-dark {
  background-color: #263238;
}
/* ----------------feature section-------------- */
.features {
  padding: 10rem 0;
}
.box-wrapper {
  box-shadow: 0px 0px 20px #000;
}
.box {
  width: 33.3333%;
  float: left;

  padding: 2rem;
  text-align: center;
}
.box-1,
.box-3 {
  background-color: #263238;
  color: #fff;
}
.box-2 {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  color: #fff;
}
.box-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
footer {
  text-align: center;
  background-color: #263238;
  color: white;
  padding: 2rem;
}
.socialmedialinks i {
  margin: 2rem;
}

/*----------------------------page styling--------------*/
.about-wrapper {
  text-align: center;
  margin-top: 2rem;
}
.about-heading {
  margin-top: 2rem;
  border-bottom: 3px solid #e63946;
}
.textt {
  margin-top: 2rem;
}
.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
.about-wrapper li::before {
  content: "\2713";
  color: #555555;
  font-weight: bold;
  padding-right: 1rem;
}
/*   ------------------aboutwrapper----------*/
.cta-banner {
  margin-top: 25rem;
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  color: #f4f4f4;
  padding: 8rem;
  box-shadow: 5px 5px 10px #000000;
}

.cta-banner .left {
  width: 60%;
  float: left;
}
.cta-banner .right {
  width: 40%;
  color: #f4f4f4;
  float: right;
  margin-right: 2rem;
}
.cta-line {
  font-weight: 600;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.btn-cta {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  border: 3px solid white;
  color: #f4f4f4;
  padding: 0.3rem 2.5em;
  /* letter-spacing: 0.5rem; */
}
.contact-form {
  padding: 5rem 0;
  font-size: 2rem;
  background: #f7f7f7;
}

.form-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.form-wrapper .company {
  background: #fff;
  float: left;
  height: 760px;
  width: 49%;
  padding: 1rem;
}
.form-wrapper .form {
  font-size: 1.6rem;
  height: 760px;
  padding: 1rem;
  background: #fff;

  float: right;
  width: 49%;
}
.form h1::after {
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}
.form-wrapper .company i {
  display: inline-block;
  margin-right: 1rem;
}
.form-wrapper .company h2 {
  display: inline-block;
  text-transform: uppercase;
}
.form-wrapper .address-group img {
  max-width: 90%;
  min-height: 40rem;
  object-fit: cover;
  /* width: 40px;
    margin: 40px; */
}
.form-wrapper .address-group {
  margin-bottom: 3rem;
}
.form-wrapper .form label {
  display: block;
}
.form-wrapper .form input {
  padding: 0.5rem;
  width: 100%;
}
.form-wrapper .form .form-group {
  margin-bottom: 1.2rem;
}
.form-wrapper .form label::after {
  content: "";
  color: #555555;
}
.form-wrapper .form textarea {
  width: 100%;
  height: 300px;
  padding: 1rem;
}
.form-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0em;
  font-size: 1.8rem;
  /* text-transform: uppercase; */
  background: #555555;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
/*----------------Search bar --------------------------*/

.wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.search_box {
  background: rgb(214, 210, 210);
  position: relative;
  padding: 10px;
  border-radius: 5px; 
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  display: flex;
}

.search_box .search_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-right: 15px;
  cursor: pointer;
}

.search_box .input_search {
  outline: none;
  border: 0;
  background: white;
  border-radius: 50px;
  padding: 15px 20px;
  width: 465px;
  height: 50px;
  color: black;
}

::placeholder {
  color: black;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

/*----------------cards--------------------------*/

.author {
  height: 100px;
  padding: 10px;
  margin-bottom: 5%;
}
.cards {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
  padding-top: 10px;
  background-color: rgb(214, 210, 210);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  /* box-shadow: 0px 0px 20px rgb(175, 172, 172); */
}
.whitebox{
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 10px;
  
 
}
.cards a{
  text-decoration: none;
  color: black;
}
.image-container {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
 
}
.image-container img {
  width: 100%;
  height: 100%;
 
  border-radius: 5px;
}
.text-contanier {
  padding: 10px;
  /* height: 150px; */
}
.profile {
  position: absolute;
  z-index: 2;
  margin-top: 45px;
  margin-left: 2%;
  margin-right: 30%;
  margin-bottom: 20%;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(214, 210, 210);
  border: 1px solid rgb(214, 210, 210);
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  
  
}

.profile1 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  display: block;
}
.profile2  {
  margin-left: 3%;
  margin-top: 2%;
}

.profile2 button {
  padding: 0.5%;
  margin-left: 3%;
  color: white;
  cursor: pointer;
}
.profile3 button {
    padding: 0.5%;
    color: white;
    cursor: pointer;
}
.profile4{
 position: absolute;
  z-index: 2;
  margin-top: 45px;
  margin-left: 2%;
  /* margin-right: 30%; */
  margin-bottom: 20%;
  width: 400px;
  height: 1000px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(214, 210, 210);
  box-shadow: 0px 0px 5px rgb(175, 172, 172);

}
.add-post-button button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgb(214, 210, 210);
    border: 1px solid rgb(214, 210, 210);
}


.float-right {
  margin-top: 3%;
  margin-left: 4%;
  

  /* width: 400px; */
}
.profile3 img {
  width: 100%;
  padding: 2% 2% 0% 2%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  display: block;
}
/*=====================================================================*/


.addpost {
	text-decoration: none;
	font-weight: bolder;
	padding: 7px 11px;
	color: white;
    
	background-color: #263238;
	border-radius: 5px;
	cursor: pointer;
}

.postform1 {
	display: flex;
	justify-content: center;
}


.postform2 p, input {
	font-size: 15px;
    /* padding-left: 20px; */
}

.postform2 button {
	padding: 4px 7px;
	font-size: 14px;
	background-color: #263238;
	color: white;
	border-radius: 5px;
  padding-left: 20px;
	cursor: pointer;
	border: none;
}

#postform3 {
	display: none;
}

#postform4 {
	display: none;
}
/*=============================================================*/
.cardscomments{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 1%;
  background-color: rgb(214, 210, 210);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comments-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comments-section button{
  border: 1px solid #263238;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 500px;
  height: 35px;
  background: white;
  border-radius: 5px;
}
.comments-section input{
  border-radius: 5px;
  width: 500px;
  height: 35px;
  margin-left: 5%;
  margin-top: 5%;
  padding-left: 10px;
  margin-bottom: 15px;
  border: 1px solid #263238;
  
}
.buttonandcomment{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*=============================================================*/
.comments-cards{
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
  background-color: rgb(214, 210, 210);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}
.comments-block{
  background: white;
  width: 500px;
  height: 100px;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  display: flex;

}
.comments-block p{
  margin-left: 20px;
  margin-top: 10px;
  /* text-transform: uppercase; */
}
.image-class-of-user img{
  width: 80px;
  height: 80px;
  margin-left:20px;
  margin-top: 10px;
  border-radius: 5px;
}
/*===========================weather portion===================================================*/
.float-right-most
{
  position: absolute;
  z-index: 2;
  margin-top: 45px;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 450px;
  border-radius: 5px;
  background-color: #84685A;
  box-shadow: 0px 0px 5px rgb(169 143 129);
  right: 0;
}
  
.appwrap{
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  /* background-image: linear-gradient(to bottom,rgb(240, 230, 230),rgb(240, 23#84685A0, 230));  */
  
}
.headerr{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 15px;
  
} 
.headerr input{
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:5px;
  border-bottom: 3px solid #263238;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #313131;


}

.headerr input:focus{
  background-color: rgba(255, 255, 255, 0.6);
} 

main{
  flex:1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location.city{
  color: #FFF;
  font-size: 300px;
  font-weight: 500;
  margin-bottom: 5px;

}
.location .date{
  color: #FFF;
  font-size: 16px;

}
.current .temp{
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  margin: 10px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}
.current .temp span{
  font-weight: 500;
}
.current .weather{
  color:#FFF;
  font-size: 50px;
  font-weight: 400;
  /* font-style: italic; */
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);

}
.current .hi-low{
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
/*------------------------------------------------------------------ */

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .navbar .nav-items,
  .navbar .logo {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .header-content {
    width: 100%;
    font-size: 50%;
    height: auto;
  }
  .row {
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box {
    float: none;
    width: 100%;
    text-align: center;
  }
  .features .box {
    float: none;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .features .box-2 {
    float: none;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .features .box-3 {
    float: none;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .box-wrapper {
    box-shadow: none;
  }
  .about-wrapper {
    float: none;
    width: 100%;
    text-align: center;
  }
  .cta-banner .left,
  .cta-banner .right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .form-wrapper .company {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .form-wrapper .form {
    float: none;
    width: 100%;
    height: auto;
  }
  .profile4{
    position: static;
    z-index: 1;
    margin-top: 45px;
    margin-left: 4%;
    margin-right: 30%;
    margin-bottom: 20%;
    width: 400px;
    height: 1000px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(214, 210, 210);
    border: 1px solid rgb(214, 210, 210);

  }
  .float-right{
    margin-left: 3%;
    margin-right: 1%;
    width: 100%;
   
  }
  .cards{
    margin-left: 1%;
    width: 90%;
    margin-right: 1%;
  }

.profile4{
  margin-left: 5%;
  width: 90%;
  height: 600px;
  margin-right: 1%;

}
}
@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 1.8rem;
  }
  .navbar .nav-items,
  .navbar .logo {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .row {
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box {
    float: none;
    width: 100%;
    text-align: center;
  }
  .features .box {
    float: none;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .features .box-2 {
    float: none;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .features .box-3 {
    float: none;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px #000;
    width: 100%;
  }
  .box-wrapper {
    box-shadow: none;
  }
  .about-wrapper {
    float: none;
    width: 100%;
    text-align: center;
  }
  .cta-banner .left,
  .cta-banner .right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .form-wrapper .company {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .form-wrapper .form {
    float: none;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}
